@exxat:registry=https://pkgs.dev.azure.com/exxat-team/_packaging/V4/npm/registry/
 @exxat-core:registry=https://pkgs.dev.azure.com/exxat-team/_packaging/V4/npm/registry/
 @exxat-common:registry=https://pkgs.dev.azure.com/exxat-team/_packaging/V4/npm/registry/
 @exxat-fusion:registry=https://pkgs.dev.azure.com/exxat-team/_packaging/V4/npm/registry/
always-auth=true
 registry= https://registry.npmjs.org